USE [master]
GO
/****** Object:  Database [VJET_AIRLINES]    Script Date: 4/2/2024 3:00:57 PM ******/
CREATE DATABASE [VJET_AIRLINES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VJET_AIRLINES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VJET_AIRLINES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VJET_AIRLINES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VJET_AIRLINES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VJET_AIRLINES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VJET_AIRLINES]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MaChuyenBay] [nchar](10) NOT NULL,
	[MaMayBay] [nchar](10) NOT NULL,
	[MaSanBayDi] [nchar](3) NOT NULL,
	[MaSanBayDen] [nchar](3) NOT NULL,
	[NgayBay] [date] NOT NULL,
	[GioBay] [time](7) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[KhoangCach] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUONGBAY]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUONGBAY](
	[MaDuongBay] [nchar](10) NOT NULL,
	[MaSanBay1] [nchar](3) NOT NULL,
	[MaSanBay2] [nchar](3) NOT NULL,
	[KhoangCach] [int] NOT NULL,
 CONSTRAINT [PK_DUONGBAY] PRIMARY KEY CLUSTERED 
(
	[MaDuongBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MaGhe] [nchar](15) NOT NULL,
	[MaChuyenBay] [nchar](10) NOT NULL,
	[LoaiGhe] [nchar](10) NOT NULL,
	[Trong] [bit] NOT NULL,
 CONSTRAINT [PK_GHE_1] PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [nchar](10) NOT NULL,
	[SoDienThoaiKhachHang] [nchar](10) NOT NULL,
	[NgayXuatHoaDon] [date] NOT NULL,
	[TrangThaiThanhToan] [bit] NOT NULL,
	[TongTien] [int] NOT NULL,
	[SoDienThoaiNhanVien] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SoDienThoaiKhachHang] [nchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[Email] [nchar](30) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nchar](30) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_KHACHHANG_1] PRIMARY KEY CLUSTERED 
(
	[SoDienThoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MaMayBay] [nchar](10) NOT NULL,
	[TenMayBay] [nvarchar](50) NOT NULL,
	[HangBay] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[MaMayBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[SoDienThoaiNhanVien] [nchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](70) NOT NULL,
	[TenDangNhap] [nchar](30) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[SoDienThoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MaSanBay] [nchar](3) NOT NULL,
	[TenSanBay] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MaSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [nchar](30) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[LoaiTaiKhoan] [nchar](10) NOT NULL,
	[SoDienThoai] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 4/2/2024 3:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaVe] [nchar](10) NOT NULL,
	[MaChuyenBay] [nchar](10) NOT NULL,
	[Gia] [int] NOT NULL,
	[KyGui] [smallint] NULL,
	[CMNDNguoiBay] [nchar](15) NULL,
	[TenNguoiBay] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[MaHoaDon] [nchar](10) NOT NULL,
	[MaGhe] [nchar](15) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB01      ', N'MB01      ', N'HAN', N'SGN', CAST(N'2024-03-01' AS Date), CAST(N'20:00:00' AS Time), N'', 1700)
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB02      ', N'MB01      ', N'HAN', N'SGN', CAST(N'2024-03-09' AS Date), CAST(N'08:00:00' AS Time), N'', 1700)
INSERT [dbo].[CHUYENBAY] ([MaChuyenBay], [MaMayBay], [MaSanBayDi], [MaSanBayDen], [NgayBay], [GioBay], [GhiChu], [KhoangCach]) VALUES (N'CB03      ', N'MB01      ', N'SGN', N'DAD', CAST(N'2024-03-02' AS Date), CAST(N'00:00:00' AS Time), N'', 920)
GO
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB01      ', N'HAN', N'SGN', 1700)
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB02      ', N'SGN', N'VII', 1400)
INSERT [dbo].[DUONGBAY] ([MaDuongBay], [MaSanBay1], [MaSanBay2], [KhoangCach]) VALUES (N'DB06      ', N'VII', N'HAN', 320)
GO
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10A   ', N'CB01      ', N'PhoThong  ', 1)
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10B   ', N'CB01      ', N'PhoThong  ', 1)
INSERT [dbo].[GHE] ([MaGhe], [MaChuyenBay], [LoaiGhe], [Trong]) VALUES (N'CB01-Ghe_10C   ', N'CB01      ', N'PhoThong  ', 1)
GO
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD01      ', N'0936000306', CAST(N'2024-02-15' AS Date), 1, 1700000, N'0925250104')
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD02      ', N'0123541859', CAST(N'2024-02-15' AS Date), 1, 864000, N'0925250104')
INSERT [dbo].[HOADON] ([MaHoaDon], [SoDienThoaiKhachHang], [NgayXuatHoaDon], [TrangThaiThanhToan], [TongTien], [SoDienThoaiNhanVien]) VALUES (N'HD03      ', N'0123541859', CAST(N'2024-02-15' AS Date), 1, 864000, N'0925250104')
GO
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0123541859', N'Ngô Quyền', N'ngoquyen@email.com            ', N'97 Man Thiện, p.Hiệp Phú', N'ngoquyen                      ', N'123567233      ', 120)
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0837171115', N'Tôn Thất Thuyết', N'tonthatthuyet@email.com       ', N'97 Man Thiện, p.Hiệp Phú', N'tonthatthuyet                 ', N'127461888      ', 0)
INSERT [dbo].[KHACHHANG] ([SoDienThoaiKhachHang], [TenKhachHang], [Email], [DiaChi], [TenDangNhap], [CMND], [DiemTichLuy]) VALUES (N'0936000306', N'Phan Lê Tú Mỹ', N'ple.tumy@gmail.com            ', N'37 Cao Lỗ, phường 4, quận 8, TP.HCM', N'tumy                          ', N'123456789      ', 10)
GO
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB01      ', N'VJ3709', N'Vietjet Air')
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB02      ', N'MH1761', N'Việt Nam Airlines')
INSERT [dbo].[MAYBAY] ([MaMayBay], [TenMayBay], [HangBay]) VALUES (N'MB03      ', N'QH3752', N'Bamboo Airways')
GO
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0837587383', N'Trần Nhân Viên', N'44 Nguyễn Đình Chiểu, thành phố Thủ Dầu Một', N'trannhanvien.nv               ', N'1433221415     ')
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0925250104', N'Doãn Quốc Đam', N'31 Ngô Đức Kế, Phường Bến Nghé, Quận 1, TP.HCM', N'doanquocdam                   ', N'123456789      ')
INSERT [dbo].[NHANVIEN] ([SoDienThoaiNhanVien], [TenNhanVien], [DiaChi], [TenDangNhap], [CMND]) VALUES (N'0983716362', N'Doãn Chí Bình', N'217 Võ Thị Sáu, phường Thống Nhất', N'doanchibinh                   ', N'4341432423     ')
GO
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'BMV', N'Buôn Ma Thuật')
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'DAD', N'Đà Nẵng')
INSERT [dbo].[SANBAY] ([MaSanBay], [TenSanBay]) VALUES (N'DIN', N'Điện Biên Phủ')
GO
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'dinhbolinh                    ', N'123                           ', N'KhachHang ', N'0984614441')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'doanchibinh                   ', N'123456                        ', N'QuanLy    ', N'0983716362')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan], [SoDienThoai]) VALUES (N'doanquocdam                   ', N'123456                        ', N'QuanLy    ', N'0925250104')
GO
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB21      ', 850000, 15, N'948161567      ', N'Phan Le Tu My', NULL, N'HD01      ', N'CB21-Ghe_9A    ')
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB28      ', 320000, 15, N'921747911      ', N'Lê Nguyễn Trung Đan', NULL, N'HD02      ', N'CB28-Ghe_5F    ')
INSERT [dbo].[VE] ([MaVe], [MaChuyenBay], [Gia], [KyGui], [CMNDNguoiBay], [TenNguoiBay], [NgaySinh], [MaHoaDon], [MaGhe]) VALUES (N'V01       ', N'CB29      ', 320000, 15, N'921747911      ', N'Binz', NULL, N'HD03      ', N'CB29-Ghe_5D    ')
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_MAYBAY] FOREIGN KEY([MaMayBay])
REFERENCES [dbo].[MAYBAY] ([MaMayBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_MAYBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAY] FOREIGN KEY([MaSanBayDi])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAY1] FOREIGN KEY([MaSanBayDen])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAY1]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DUONGBAY_SANBAY] FOREIGN KEY([MaSanBay1])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DUONGBAY_SANBAY]
GO
ALTER TABLE [dbo].[DUONGBAY]  WITH CHECK ADD  CONSTRAINT [FK_DUONGBAY_SANBAY1] FOREIGN KEY([MaSanBay2])
REFERENCES [dbo].[SANBAY] ([MaSanBay])
GO
ALTER TABLE [dbo].[DUONGBAY] CHECK CONSTRAINT [FK_DUONGBAY_SANBAY1]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_CHUYENBAY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([SoDienThoaiKhachHang])
REFERENCES [dbo].[KHACHHANG] ([SoDienThoaiKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAIKHOAN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAIKHOAN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_CHUYENBAY]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[GHE] ([MaGhe])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_GHE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_HOADON]
GO
USE [master]
GO
